* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
      width: 33.33%;
    }    
  }
  
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float:left;
      width: 50%;
    }
    .col-md-12 {
        float:left;
      width: 100%;
    }
  }

@media (max-width: 767px) {
    .col-sm-12 {
        float:left;
      width: 100%;
    }
}

h1 {
    text-align: center;
    margin:10px;
}

section {
    border: 1px solid black;
    margin: 10px;
    background-color: gray;
}
h2 {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 30%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
    overflow: auto;
}
section>p {
    padding: 50px 10px 10px 10px;
}

.c > h2{
    background-color: aquamarine;
}
.b > h2{
    background-color: coral;
}
.s > h2{
    background-color: greenyellow;
}
.row {
    width: 100%;
  }